.benefit--big {
  @include media-desktop {
    grid-area: big;
          margin-top: 18px;
  }
}

.benefit__title {
  @include font($family: $font-title-w, $size: 90px, $line-height: 100%);
  margin-bottom: 9px;
  letter-spacing: -0.06em;

 @include media-desktop {
        letter-spacing: 0;
    }

   &--big {
          margin-bottom: 5px;
  letter-spacing: -0.06em;

    @include media-desktop {
      font-size: 120px;
    }
  }


}

.benefit__text {
  @include font($size: 18px, $line-height: 140%, $color: $color-text-70);
}
