@use "variables" as var;
@use "mixins" as mix;

.btn-menu {
  @include btn-reset;

  width: 69px;
  height: 69px;
  border-left: 1px solid $color-line;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  cursor: pointer;

  &:focus-visible {
    outline: 1px solid currentColor;
    outline-offset: -3px;
  }

  &:hover {
    background-color: $color-bg-light;
  }

  @include media-desktop {
    display: none;
  }

  &::before,
  &::after {
    display: block;
    content: "";
    width: 28px;
    height: 2px;
    background-color: var.$color-black;
    transition: all 0.3s;
  }
}

.btn-menu--closer::before {
  transform: translateY(9px) rotate(45deg);
}

.btn-menu--closer::after {
  transform: translateY(-9px) rotate(-45deg);
}
