.button {
  box-sizing: border-box;
display: block;
padding: 13px 24px 15px 24px;
border: 1px solid  $color-btn;
background-color: $color-btn;
border-radius: 136px;

cursor: pointer;

&--mini {
  padding: 5px 15px 6px 15px;
}
}


