.nav {
  // display: none;

  @include media-desktop {
    display: block;
  }
}

.nav__list {
  @include list-reset;
display: flex;
flex-direction: column;
gap: 10px;


  @include media-desktop {
    flex-direction: row;
  gap: 20px;
  }
}
