.container {
  box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;


  @include media-desktop {
    padding-left: 40px;
    padding-right: 40px;
    width: $desktop-width;
  }
}
